@font-face {
  font-family: Cairo;
  src: url("./fonts/Cairo/Cairo-VariableFont_slnt\,wght.ttf");
}

body {
  background-color: darkslategray;
  font-family: Cairo;
  text-align: right;
  /* Updated to right alignment */
}

/* Styling the Form (Color, Padding, Shadow) */
form {
  background-color: #fff;
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 60px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  direction: rtl;
  /* Added right-to-left direction */
}

/* Styling form-control Class */
.form-control {
  text-align: right;
  /* Updated to right alignment */
  margin-bottom: 25px;
}

/* Styling form-control Label */
.form-control label {
  display: block;
  margin-bottom: 10px;
}

/* Styling form-control input, select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
  border: 1px solid #777;
  border-radius: 15px;
  font-family: inherit;
  padding: 10px;
  display: block;
  width: 95%;
  text-align: right;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"] {
  display: inline-block;
  width: auto;
}

button {
  background-color: darkslategray;
  color: white;
  border: 1px solid #777;
  border-radius: 15px;
  font-family: inherit;
  font-size: 21px;
  display: block;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  /* Added center alignment */
}

h1 {
  color: white;
  text-align: center;
  /* Added center alignment */
}

.hidden {
  display: none;
}

.form-control input[type="radio"],
.form-control label {
  display: inline;
  margin-right: 10px;
}

.arrow::after {
  content: "\25BC";
  /* Downward-pointing arrow */
  display: inline-block;
  margin-left: 10px;
  transition: transform 0.2s;
}

.open .arrow::after {
  content: "\25B2";
  /* Upward-pointing arrow */
}

.form-control {
  display: none;
}

.open .form-control {
  display: block;
}
p {
  display: none;
}
.open p {
  display: block;
}
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
  display: inline-block;
  width: 15px;
}
.checkbox-container {
  display: block;
  /* flex-wrap: wrap; */
}
.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
}
#map {
  height: 400px;
  width: 100%;
}

.hidden {
  display: none;
}

.checkbox-item{
  display: flex;
}
                .grid-form {
                  display: flex;
                  justify-content: space-between;
                }
        
        
                .radio-container {
                  text-align: center;
                }
      
      .blod{
        font-weight: bold;
      }